<div id="main">
    <div class="header">
        <h1>Healthcare Management Website</h1>
    </div>

    <div class="content">

      <br/>
      <br/>
      <br/>
      <br/>

        <% if !@user && !@doctor %>
        <h4>
        <%= image_tag("africa.jpeg") %>

        </h4>
        <% end %>
        <% if @user %>
          <h2 class="content-subhead">You have logged in as User <%= link_to "Logout", {:controller => :users, :action => :logout}, { class: 'pure-button  button-secondary'} %> </h2>
          <p>
            Welcome User: <%= @user.first_name %>&nbsp;<%= @user.last_name %>
            You will have the context of the logged in user in viewing all the user related views. Please logout in case you are facing some issues. Have a good health!
          </p>
        <% end %>
        <% if @doctor %>
          <h2 class="content-subhead">You have logged in as Doctor  <%= link_to "Logout", {:controller => :doctors, :action => :logout}, { class: 'pure-button  button-secondary'} %></h2>
          <p>
            Welcome Doctor: <%= @doctor.first_name %>&nbsp;<%= @doctor.last_name %>
            You will have the context of the logged in doctor in viewing all the doctor related views. Please logout in case you are facing some issues. Have a good health!
          </p>
        <% end %>

    </div>
</div>
